

<h2 class="playlistHeader">My Playlists</h2>

<div class=playlistBody *ngFor = "let playlist of playlists">
  <h3>{{playlist.title}}</h3>
  <table class="playlistTable" >
    <thead>
      <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Album</th>
        <th>Length</th>
        <th>Song</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let song of playlist.songs">
        <td>{{song.artist}}</td>
        <td>{{song.title}}</td>
        <td>{{song.album}}</td>
        <td>{{song.songLength}}</td>
        <td> <youtube-player
          videoId="{{getVideoId(song)}}"
          suggestedQuality="highres"
          [height]="200"
          [width]="300"
          [startSeconds]="0"
          >
        </youtube-player></td>
      </tr>
    </tbody>
  </table>

</div>


