

<div class="container">
  <h2 class="playlistHeader">My Favorite Songs</h2>
  <div class="content" *ngFor="let playlist of playlists">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex.lg="25%" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let song of playlist.songs">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title class="name">
              <span>{{song.title}}</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="info d-flex">
              <b>By: </b>{{song.artist}}
            </div>
            <div class="info d-flex">
              <b>Album: </b> {{song.album}}
            </div>
            <div class="info d-flex">
              <youtube-player
                videoId="{{getVideoId(song)}}"
                suggestedQuality="highres"
                [height]="215"
                [width]="215"
                [startSeconds]="0"
              >
              </youtube-player>
            </div>
          </mat-card-content>
          <mat-card-actions style="text-align: right;">
            <button mat-button (click)="removeFromPlaylist(song)"><mat-icon>delete</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- <div class=playlistBody *ngFor = "let playlist of playlists">
  <h3>{{playlist.title}}</h3>
  <table class="playlistTable" >
    <thead>
      <tr>
        <th>Artist</th>
        <th>Title</th>
        <th>Album</th>
        <th>Length</th>
        <th>Song</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let song of playlist.songs">
        <td>{{song.artist}}</td>
        <td>{{song.title}}</td>
        <td>{{song.album}}</td>
        <td>{{song.songLength}}</td>
        <td> <youtube-player
          videoId="{{getVideoId(song)}}"
          suggestedQuality="highres"
          [height]="200"
          [width]="300"
          [startSeconds]="0"
          >
        </youtube-player></td>
      </tr>
    </tbody>
  </table>
</div> -->


