<!-- <div id="giraffe">
  {{searchResult | json}}

</div> -->

<div *ngIf = "user && user.role !== 'ADMIN'">
  <H1>Admin Page -- You shall not pass</H1>
  </div>


    <div *ngIf = "user && user.role === 'ADMIN'">
      <!-- <app-sidebar></app-sidebar> -->


<!-- <button *ngIf = "allUsersSelected == false" (click)="allUsersSelected = true" mat-button style=
			"background-color: #b25512; color:white">
			Display All Users
		</button> -->

<div *ngIf = "allUsersSelected == true">
  <!-- <button (click)="allUsersSelected = false" mat-button style=
  "background-color:orange; color:white">
  Hide All Users
</button> -->
<mat-card class="example-card" *ngFor = "let user of users">
	<mat-card-header>
		<mat-card-title>{{user.username}}</mat-card-title>
		<mat-card-subtitle>
      {{user.firstName}}  {{user.lastName}}
		</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content>
		<p>
		{{user.email}} <br>
		</p>
	</mat-card-content>

	<mat-card-actions>
		<button (click)="disableUser(user)" *ngIf = "user.isEnabled" mat-button style=
			"background-color:rgba(0, 116, 0, 0.7); color:white">
			Disable
		</button>

		<button *ngIf = "!user.isEnabled" (click)="enableUser(user)" mat-button style=
			"background-color:rgba(187, 22, 0, 0.7); color:white">
			Enable
		</button>

    <button (click)="displayUserPosts(user.username)" mat-button style=
    "background-color:rgba(178, 85, 18, 0.637); color:white">
    View Posts
  </button>

  <button (click)="displayUserComments(user.username)" mat-button style=
    "background-color:#b255129f; color:white">
    View Comments
  </button>

	</mat-card-actions>

  <!-- <div class="comments by user" *ngFor = "let c of enabledComments">
    <mat-card class="example-card" *ngIf = "c.user.username == user.username">
      <mat-card-header>
        <mat-card-title>Comment</mat-card-title>
        <mat-card-subtitle>
          {{c.content}}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p (click)="deleteComment(c, user.username)">
            Click to Delete
        </p>
      </mat-card-content>
      </mat-card>
    </div> -->




<!-- </div> -->
  <!-- <button class="btn btn-outline-danger" (click)="clearSearchResults()">Clear Search</button>
  <button class="btn btn-outline-success" (click)="displaySearchResults()">Display Last Search</button> -->
  <!-- </div> -->

<div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex.lg="25%" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let post of enabledPosts">
            <div *ngIf="post.isEnabled">
                <mat-card class="mat-elevation-z4" *ngIf = "post.user.username == user.username">
                    <mat-card-header>
                        <div mat-card-avatar class="avatar mat-elevation-z8" style="background-image: url({{post.user.imageUrl}}); background-position: center; background-size: cover;"></div>
                        <mat-card-title class="name">
                            <span>{{post.user.username}}</span>
                        </mat-card-title>
                        <mat-card-subtitle>{{post.createdAt | dateAgo}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="cardContent" (click)="setPost(post);open(content);">
                      <h4 style="font-weight: bold; padding-left: 10%;  margin-bottom: 5px;">{{post.title}}</h4>
                      <p style=" padding-left: 10%; margin-bottom: 20px;">{{post.content}}</p>
                      <div style="text-align: center;">
                          <youtube-player videoId="{{getVideoId(post.song)}}" suggestedQuality="highres" [height]="215" [width]="215" [startSeconds]="0">
                          </youtube-player>
                      </div>
                  </mat-card-content>
                  <mat-divider></mat-divider>
                  <mat-card-footer class="cardfooter" style="text-align: center;">
                    <!-- <mat-card-actions style="text-align: center;"> -->
                    <!-- <mat-card-actions display="flex" style="justify-content: space-between	;"> -->
                        <!-- <button class= "upArrowRatingGiven" mat-button (click)="like(post)"><mat-icon>arrow_upward</mat-icon></button> -->
                        <button mat-button (click)="setPost(post);getCommentsForPost(post);open(comment)"><mat-icon>chat</mat-icon></button>
                        <button mat-button (click)="deletePost(post, user.username)"><mat-icon>delete</mat-icon></button>
                        </mat-card-footer>
                    <!-- </mat-card-actions> -->
                </mat-card>
            </div>





    <ng-template #content let-modal>
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
              Post Details
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">
              ×
          </span>
      </button>
      </div>
      <div *ngIf="post" class="modal-body modal-content">
          <div class="info d-flex">
              <h1>{{post.title}}</h1>
          </div>
          <div class="info d-flex">
              <h6>{{post.createdAt}}</h6>
          </div>
          <div class="info d-flex">
              <p>{{post.content}}</p>
          </div>
          <div class="info d-flex">
              <p>Song Title: {{post.song.title}}</p>
          </div>
          <div class="info d-flex">
              <p>By: {{post.song.artist}}&nbsp;&nbsp;&nbsp;&nbsp;Ablum: {{post.song.album}}</p>
          </div>
          <div class="info d-flex">
            <youtube-player videoId="{{getVideoId(post.song)}}" suggestedQuality="highres" [height]="300" [width]="465" [startSeconds]="0">
            </youtube-player>
        </div>
          <div class="modal-footer" style="margin-top: -25px;padding-bottom: 5px;">
            <img class="footerPic" src={{post.user.imageUrl}}>
            <h3>&nbsp;&nbsp;{{post.user.username}}</h3>
        </div>
        <div style="text-align: left; margin-top: -60px;padding-bottom: 10px;">
          <button mat-button (click)="setPost(post);getCommentsForPost(post);open(comment)"><mat-icon>chat</mat-icon></button>
          <button mat-button (click)="deletePost(post, user.username)"><mat-icon>delete</mat-icon></button>
      </div>
          <!-- <div class="modal-footer" style="margin-top: -25px;padding-bottom: 5px;">
            <mat-card-actions display="flex" style="justify-content: space-between	;"> -->

              <!-- <button class= "upArrowRatingGiven" mat-button (click)="like(post)"><mat-icon>arrow_upward</mat-icon></button> -->

              <!-- <button mat-button (click)="setPost(post);getCommentsForPost(post);open(comment)"><mat-icon>chat</mat-icon></button>
              <button mat-button (click)="deletePost(post, user.username)"><mat-icon>delete</mat-icon></button>
              <img class="footerPic" src={{post.user.imageUrl}}>
            <h3>&nbsp;&nbsp;{{post.user.username}}</h3>
          </mat-card-actions> -->

              <!-- <img class="footerPic" src={{post.user.imageUrl}} alt="Profile Image">
              <h3>&nbsp;&nbsp;{{post.user.username}}</h3> -->
          <!-- </div> -->
      </div>
  </ng-template>

  <ng-template #comment let-modal>
    <div class="modal-header">


        <button type="button" class="close" aria-label="Close" (click)="expandedComments = [];modal.dismiss('Cross click');">

          <span aria-hidden="true">
              ×
          </span>
      </button>
    </div>
    <div *ngFor="let comment of expandedComments">
        <div class="modal-body modal-content">
            <div class="info d-flex">
                <h2><span><img class="commentPic" src={{comment.user.imageUrl}}></span>{{comment.user.username}}</h2>
              </div>
              <mat-card-subtitle>
                <h5 class="subtitle">{{comment.createdAt | dateAgo}}</h5>
              </mat-card-subtitle>
            <!-- <div class="info d-flex">
            </div> -->
            <div class="info d-flex">
                <p>{{comment.content}}</p>
            </div>
            <div>
              <button mat-button (click)="deleteComment(comment, user.username);modal.dismiss('Cross click')"><mat-icon>delete</mat-icon></button>
                <hr>
            </div>
        </div>
        <form *ngIf="comment">
          <div class="modal-footer">
          </div>
        </form>
      </div>

    </ng-template>

        <ng-template #content let-modal>
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">
              Post Details
          </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">
              ×
          </span>
      </button>
      </div>
      <div *ngIf="post" class="modal-body modal-content">
          <div class="info d-flex">
              <h1>{{post.title}}</h1>
          </div>
          <div class="info d-flex">
              <h6>{{post.createdAt}}</h6>
          </div>
          <div class="info d-flex">
              <p>{{post.content}}</p>
          </div>
          <div class="info d-flex">
              <p>Song Title: {{post.song.title}}</p>
          </div>
          <div class="info d-flex">
              <p>By: {{post.song.artist}}&nbsp;&nbsp;&nbsp;&nbsp;Ablum: {{post.song.album}}</p>
          </div>
          <div class="info d-flex">
              <youtube-player videoId="{{getVideoId(post.song)}}" suggestedQuality="highres" [height]="215" [width]="215" [startSeconds]="0">
              </youtube-player>
          </div>
          <div class="modal-footer">
              <img class="footerPic" src={{post.user.imageUrl}} alt="Profile Image">
              <h3>&nbsp;&nbsp;{{post.user.username}}</h3>
          </div>
      </div>
  </ng-template>
  </div>
  <div fxFlex.lg="25%" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let comment of enabledComments">
    <div *ngIf="comment.isEnabled">
        <mat-card class="mat-elevation-z4" *ngIf = "comment.user.username == user.username">
            <mat-card-header>
                <div mat-card-avatar class="avatar mat-elevation-z8" style="background-image: url({{comment.user.imageUrl}}); background-position: center; background-size: cover;"></div>
                <mat-card-title class="name">
                    <span>{{comment.post.title}}</span>
                </mat-card-title>
                <mat-card-subtitle>{{comment.createdAt | dateAgo}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="cardContent" (click)="setPost(comment.post);open(commentPost);">
                <p>
                    {{comment.content}}
                </p>
            </mat-card-content>
            <mat-divider></mat-divider>


            <!-- <mat-card-actions style="text-align: center;"> -->
            <mat-card-actions display="flex" style="text-align: center;">

                <!-- <button class= "upArrowRatingGiven" mat-button (click)="like(post)"><mat-icon>arrow_upward</mat-icon></button> -->

                <!-- <button mat-button><mat-icon>chat</mat-icon></button> -->
                <button mat-button (click)="deleteComment(comment, user.username)"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>
        </mat-card>
    </div>


    </div>

  <ng-template #commentPost let-modal>
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
        Post Details
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">
        ×
    </span>
</button>
</div>
<div *ngIf="post" class="modal-body modal-content">
    <div class="info d-flex">
        <h1>{{post.title}}</h1>
    </div>
    <div class="info d-flex">
        <h6>{{post.createdAt}}</h6>
    </div>
    <div class="info d-flex">
        <p>{{post.content}}</p>
    </div>
    <div class="info d-flex">
        <p>Song Title: {{post.song.title}}</p>
    </div>
    <div class="info d-flex">
        <p>Artist: {{post.song.artist}}</p>
    </div>
    <div class="info d-flex">
      <p>Ablum: {{post.song.album}}</p>
  </div>
    <div class="info d-flex">
        <youtube-player videoId="{{getVideoId(post.song)}}" suggestedQuality="highres" [height]="300" [width]="465" [startSeconds]="0">
        </youtube-player>
    </div>
    <div class="modal-footer">
        <img class="footerPic" src={{post.user.imageUrl}} alt="Profile Image">
        <h3>&nbsp;&nbsp;{{post.user.username}}</h3>
    </div>
</div>
</ng-template>
</div>
</mat-card>
