<div class="container-fluid">
  <div *ngIf="loggedInUser">
    <div *ngIf="loggedInUser.following.length > 0">
      <h1>Following: <span>{{getFollowingCount()}}</span></h1><hr>
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex.lg="100%" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
          <mat-card class="userCard" *ngFor="let friend of loggedInUser.following">
            <img mat-card-image class="avatar" src={{friend.imageUrl}} alt="Profile Image">
            <mat-card-content>
              <h2>{{friend.username}}</h2>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="btn btn-danger btn-sm" (click)="unfollow(friend)">Unfollow</button>
              <button mat-button class="btn btn-info btn-sm" (click)="viewFollowingPosts(friend)">View Posts</button>
              <button mat-button class="btn btn-success btn-sm" (click)="followedPosts= []">Hide Posts</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex.lg="25%" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let post of followedPosts">
          <div *ngIf="followedPosts">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h2>{{post.title}}</h2>
              </mat-card-title>
              <mat-card-subtitle>
                {{post.createdAt | dateAgo}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="info d-flex">
                <p>{{post.content}}</p>
              </div>
              <div class="info d-flex">
                <youtube-player
                  videoId="{{getVideoId(post.song)}}"
                  suggestedQuality="highres"
                  [height]="215"
                  [width]="215"
                  [startSeconds]="0"
                >
                </youtube-player>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <div *ngIf="loggedInUser.following.length === 0">
      <h1>Not currently following any users!</h1>
    </div>
  </div>
</div>


<!-- <ng-template #posts let-modal>
  <div class="modal-header" *ngIf="friend">
      <h4 class="modal-title" id="modal-basic-title">
          {{friend.username}}'s  Posts
      </h4>

      <button type="button" class="close" aria-label="Close" (click)="friend = null;modal.dismiss('Cross click');">

          <span aria-hidden="true">
              ×
          </span>
      </button>
  </div>
  <div *ngFor="let post of followedPosts">
    <div class="modal-body modal-content">
      <div class="info d-flex">
        <h2>{{post.title}}</h2>
      </div>
      <div class="info d-flex">
        <p><em>{{post.content}}</em></p>
      </div>
      <div class="info d-flex">
        <p><b>Song Title:</b>  {{post.song.title}}</p>
      </div>
      <div class="info d-flex">
        <p><b>By: </b>{{post.song.artist}}, <b> Album: </b> {{post.song.album}}</p>
      </div>
      <div class="info d-flex">
        <p><b>Release Date:</b>  {{post.song.releaseDate}}</p>
      </div>
      <div class="info d-flex">
        <p><b>Length:</b>  {{post.song.songLength}}</p>
      </div>
      <div class="info d-flex">
        <p><b>URL:</b>  {{post.song.songURL}}</p>
      </div>
    </div>
  </div>
</ng-template> -->
