<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <button mat-button>
        <span>&nbsp;Logo</span>
    </button>
    <div class="searchbar">

        <input type="text" [(ngModel)]="searchInput" placeholder="Search for a Post" />
        <button (click)="postsByKeyword()">Search</button>
        <!-- <app-admin [searchKeyword]="searchInput"></app-admin> -->
        <!-- #searchbar (keyup)="fetchPost($event)" -->
    </div>
    <div>
        <!-- <ul>
        <li *ngFor="let post of searchResult">
           <p> {{ post.title }}</p>
        </li>
      </ul> -->
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <img *ngIf="loggedInUser" class="avatar mat-elevation-z8" src="{{loggedInUser.imageUrl}}" />
        <h4 *ngIf="loggedInUser" class="name">{{loggedInUser.username}}</h4>
        <p *ngIf="loggedInUser" class="designation">{{loggedInUser.firstName}}&nbsp;{{loggedInUser.lastName}}</p>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="home()">
            <mat-icon>home</mat-icon>
            <span>&nbsp;Home</span>
        </button>
        <mat-divider></mat-divider>
        <button *ngIf="loggedInUser && loggedInUser.role === 'ADMIN'" mat-button class="menu-button" (click)="admin()">
            <mat-icon>gavel</mat-icon>
            <span>&nbsp;Admin</span>
        </button>
        <button mat-button class="menu-button" (click)="profile()">
            <mat-icon>wysiwyg</mat-icon>
            <span>&nbsp;Posts</span>
        </button>
        <button mat-button class="menu-button" (click)="followers()">
            <mat-icon>groups</mat-icon>
            <span>&nbsp;Following</span>
        </button>
        <button mat-button class="menu-button" (click)="playlist()">
            <mat-icon>queue_music</mat-icon>
            <span>&nbsp;Favorite Songs</span>
        </button>
        <button mat-button class="menu-button" (click)="settings()">
            <mat-icon>settings</mat-icon>
            <span>&nbsp;Settings</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>&nbsp;Logout</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-home [searchKeyword]="searchInput" [searchResult]="searchResult"></app-home> -->


<!-- <app-todo-admin [searchKeyword]="searchKeyword" [searchResults]="searchResults"
(clearSearchResults)="displayTable()" (displaySearchResults)="setEditTodo()"></app-todo-detail> -->