<h1 class="profileHeader">User Profile</h1>

<h2 class="uploadHeader" *ngIf="!selected">I have {{getNumberOfPosts()}} Post </h2>

 <div class=post-table-section *ngIf="!selected">
  <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="!selected">
        <div fxFlex.lg="25%" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let post of enabledPosts">
          <div *ngIf="post.isEnabled">
              <mat-card class="mat-elevation-z4">
                  <mat-card-header>
                      <div mat-card-avatar class="avatar mat-elevation-z8" style="background-image: url({{post.user.imageUrl}})"></div>
                      <mat-card-title class="name">
                          <span>{{post.title}}</span>
                      </mat-card-title>
                      <mat-card-subtitle>{{formatPostDateTime(post.createdAt)}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content>
                      <p>
                          {{post.content}}
                      </p>
                  </mat-card-content>
                  <img mat-card-image src="{{post.song.imageURL}}">
                  <mat-divider></mat-divider>


                  <mat-card-actions style="text-align: center;">
                      <button (click)="setPost(post);open(content)" class="btn btn-dark">Details</button>
                      <button (click)="hidePost(post.id)" class="btn btn-dark">Delete</button>
                  </mat-card-actions>
              </mat-card>
          </div>
      </div>
  </div>

</div>


<!-- Post Details SECTION -->


<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
          Post Details
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
            ×
        </span>
    </button>
  </div>
  <div *ngIf="newPost" class="modal-body modal-content">
      <div class="info d-flex">
          <h1>{{newPost.title}}</h1>
      </div>
      <div class="info d-flex">
          <h6>{{formatPostDateTime(newPost.createdAt)}}</h6>
      </div>
      <div class="info d-flex">
          <p>{{newPost.content}}</p>
      </div>
      <div class="info d-flex">
          <p>Song Title: {{newPost.song.title}}</p>
      </div>
      <div class="info d-flex">
          <p>By: {{newPost.song.artist}} Ablum: {{newPost.song.album}}</p>
      </div>
      <div class="info d-flex">
        <youtube-player
          videoId="{{getVideoId(newPost.song)}}"
          suggestedQuality="highres"
          [height]="300"
          [width]="465"
          [startSeconds]="0">
        </youtube-player>
      </div>
      <div class="modal-footer">
      <button
        (click)="setEditPost(newPost);open(editContent);modal.dismiss('Cross click')"
        class="btn btn-dark addConcBtnEdit"
      >
        Edit
      </button>
      </div>
  </div>
</ng-template>

<!-- Edit Post -->
<ng-template #editContent let-modal >
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
          Edit Post
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
            ×
        </span>
    </button>
  </div>
  <div *ngIf="editPost" class="modal-body modal-content">
    <form id="editTodo" *ngIf="editPost">
      <div class="addPostBtnDiv">
        <label class="editLabel" for="title">Title:</label>
        <input
          type="text"
          class="form-control addPostForm"
          name="title"
          [(ngModel)]="editPost.title"
        />
        <label class="editLabel" for="content">Content:</label>
        <input
          type="text"
          class="form-control addPostForm"
          name="content"
          [(ngModel)]="editPost.content"
        />
        <label class="editLabel" for="songTitle">Song Title:</label>
        <input
          type="text"
          class="form-control addPostForm"
          name="songTitle"
          [(ngModel)]="editPost.song.title"
        />
        <label class="editLabel" for="songArtist">Song Artist:</label>
        <input
          type="text"
          class="form-control addPostForm"
          name="songArtist"
          [(ngModel)]="editPost.song.artist"
        />
        <label class="editLabel" for="songAlbum">Song Album:</label>
        <input
          type="text"
          class="form-control addPostForm"
          name="songAlbum"
          [(ngModel)]="editPost.song.album"
        />
        <label class="editLabel" for="songReleaseDate">Release Date:</label>
        <input
          type="date"
          class="form-control addPostForm"
          name="songReleaseDate"
          [(ngModel)]="editPost.song.releaseDate"
        />
        <label class="editLabel" for="songLength">Song Length:</label>
        <input
          type="number"
          class="form-control addPostForm"
          name="songLength"
          [(ngModel)]="editPost.song.songLength"
        />
        <!-- <label class="editLabel" for="songLength">Genre:</label>
        <select name = "dropdown" [(ngModel)]="editPost.song.genres">
          <option *ngFor="let genre of genres" [value]="genre.id">{{genre.name}}</option>
        </select> -->
        <!-- <label class="editLabel" for="songURL">Song URL:</label>
        <input
          type="number"
          class="form-control addPostForm"
          name="songURL"
          [(ngModel)]="editPost.song.songURL"
        />
        <label class="editLabel" for="imageURL">Image URL:</label>
        <input
          type="number"
          class="form-control addPostForm"
          name="imageURL"
          [(ngModel)]="editPost.song.imageURL"
        /> -->

        <input
          type="submit"
          class="btn btn-dark addPostBtnEdit"
          name="Save"
          value="Save"
          (click)="updatePost(editPost);modal.dismiss('Cross click')"
        />
        <input
          type="submit"
          class="btn btn-dark addPostBtnEdit"
          name="Cancel"
          value="Cancel"
          (click)="modal.dismiss('Cross click')"
        />
      </div>
    </form>

  </div>
</ng-template>





<!-- Comment Section -->

<h2 class="commentHeader" *ngIf="!selectedComment">I have {{getNumberOfComments()}} Comments </h2>
  <div class="comment-section" *ngIf="!selectedComment">

    <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="!selectedComment">
      <div fxFlex.lg="25%" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let com of enabledComments">
        <div *ngIf="com.isEnabled">
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <div mat-card-avatar class="avatar mat-elevation-z8" style="background-image: url({{com.user.imageUrl}})"></div>
                    <mat-card-title class="name">
                        <span>{{com.post.title}}</span>
                    </mat-card-title>
                    <mat-card-subtitle>{{formatCommentDateTime(com.createdAt)}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{com.content}}
                    </p>
                </mat-card-content>
                <img mat-card-image src="{{com.post.song.imageURL}}">
                <mat-divider></mat-divider>


                <mat-card-actions style="text-align: center;">
                    <button (click)="setComment(com);open(commentContent)" class="btn btn-dark">Details</button>
                    <button (click)="hideComment(com.id)" class="btn btn-dark">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

</div>




<!-- Comment Details SECTION -->
<ng-template #commentContent let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
          Post Details
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
            ×
        </span>
    </button>
  </div>
  <div *ngIf="newComment" class="modal-body modal-content">
      <div class="info d-flex">
          <h1>{{newComment.post.title}}</h1>
      </div>
      <div class="info d-flex">
          <h6>{{formatCommentDateTime(newComment.createdAt)}}</h6>
      </div>
      <div class="info d-flex">
          <p>{{newComment.content}}</p>
      </div>
      <div class="info d-flex">
          <p>Song Title: {{newComment.post.song.title}}</p>
      </div>
      <div class="info d-flex">
          <p>By: {{newComment.post.song.artist}} Ablum: {{newComment.post.song.album}}</p>
      </div>
      <div class="info d-flex">
        <youtube-player
          videoId="{{getVideoId(newComment.post.song)}}"
          suggestedQuality="highres"
          [height]="300"
          [width]="465"
          [startSeconds]="0">
        </youtube-player>
      </div>
      <div class="modal-footer">
      <button
        (click)="setEditComment(newComment);open(editCommentContent);modal.dismiss('Cross click')"
        class="btn btn-dark addConcBtnEdit"
      >
        Edit
      </button>
      </div>
  </div>
</ng-template>



<!-- Edit Comment -->

<ng-template #editCommentContent let-modal >
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
          Edit Comment
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
            ×
        </span>
    </button>
  </div>
  <div *ngIf="editComment" class="modal-body modal-content">
    <form id="editTodo" *ngIf="editComment">
      <div class="addPostBtnDiv">
        <!-- <label class="editLabel" for="title">Title:</label>
        <input
          type="text"
          class="form-control addPostForm"
          name="title"
          [(ngModel)]="editPost.title"
        /> -->
        <label class="editLabel" for="content">Content:</label>
        <input
          type="text"
          class="form-control addPostForm"
          name="content"
          [(ngModel)]="editComment.content"
        />

        <input
          type="submit"
          class="btn btn-dark addPostBtnEdit"
          name="Save"
          value="Save"
          (click)="updateComment(editComment);modal.dismiss('Cross click')"
        />
        <input
          type="submit"
          class="btn btn-dark addPostBtnEdit"
          name="Cancel"
          value="Cancel"
          (click)="modal.dismiss('Cross click')"
        />
      </div>
    </form>

  </div>
</ng-template>



