<h1 class="profileHeader">User Profile</h1>

<h2 class="uploadHeader" *ngIf="!selected">I have {{getNumberOfPosts()}} Post </h2>

 <div class=post-table-section *ngIf="!selected">
   <!--
  <table class="myPostTable" *ngIf="!selected">
    <thead>
      <tr>
        <th>Title:</th><th>Content:</th><th>Posted:</th><th></th><th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td >{{post.title}}</td><td>{{post.content}}</td><td>{{post.createdAt}}</td>
        <td>
          <button
          (click)="displayPost(post)"
          class="btn btn-dark">Details</button>
        </td>
        <td>
          <button
            (click)="destroyPost(post.id)"
            class="btn btn-dark"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table> -->

  <div class="card" style="width: 18rem;" *ngFor="let post of enabledPosts">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{post.createdAt}}</h6>
      <p class="card-text">{{post.content}}</p>
      <button
          (click)="displayPost(post)"
          class="btn btn-dark">Details</button>
          <button
          (click)="hidePost(post.id)"
          class="btn btn-dark"
        >Delete</button>
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>
</div>
<!-- Post Details SECTION -->
  <div id="postDetails" *ngIf="selected && !editPost">
    <h3>Title: {{ selected.title }}</h3>
    <p>Content: {{ selected.content }}</p>
    <p>Date Created: {{ selected.createdAt }}</p>
    <p>Updated: {{ selected.updatedAt }}</p>

    <div class="addPostBtnDiv">
      <button
        (click)="displayTable()"
        class="btn btn-dark addConcBtnEdit"
      >
        Back
      </button>
      <button
        (click)="setEditPost()"
        class="btn btn-dark addConcBtnEdit"
      >
        Edit
      </button>
    </div>
  </div>
  <form id="editTodo" *ngIf="editPost">
    <h3>Edit Post</h3>
    <div class="addPostBtnDiv">
      <label class="editLabel" for="title">Title:</label>
      <input
        type="text"
        class="form-control addPostForm"
        name="title"
        [(ngModel)]="editPost.title"
      />
      <label class="editLabel" for="content">Content:</label>
      <input
        type="text"
        class="form-control addPostForm"
        name="content"
        [(ngModel)]="editPost.content"
      />


      <input
        type="submit"
        class="btn btn-dark addPostBtnEdit"
        name="Save"
        value="Save"
        (click)="updatePost(editPost)"
      />
      <input
        type="submit"
        class="btn btn-dark addPostBtnEdit"
        name="Cancel"
        value="Cancel"
        (click)="editPost = null"
      />
    </div>
  </form>
<!-- Comment Section -->
  <div class="comment-section" *ngIf="!selectedComment">
    <h2 class="commentHeader" *ngIf="!selectedComment">I have {{getNumberOfComments()}} Comments </h2>
  <div class="card" style="width: 18rem;" *ngFor="let com of enabledComments">
    <div class="card-body">
      <h5 class="card-title">{{com.post.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{com.createdAt}}</h6>
      <p class="card-text">{{com.content}}</p>
      <button
          (click)="displayComment(com)"
          class="btn btn-dark">Details</button>
          <button
          (click)="hideComment(com.id)"
          class="btn btn-dark"
        >Delete</button>
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>
</div>

<!-- Comment Details SECTION -->
<div id="commentDetails" *ngIf="selectedComment && !editComment">
  <h3>Post: {{ selectedComment.post.title }}</h3>
  <p>Content: {{ selectedComment.content }}</p>
  <p>Date Created: {{ selectedComment.createdAt }}</p>
  <p>Updated: {{ selectedComment.updatedAt }}</p>

  <div class="addCommentBtnDiv">
    <button
      (click)="displayCommentTable()"
      class="btn btn-dark addConcBtnEdit"
    >
      Back
    </button>
    <button
      (click)="setEditComment()"
      class="btn btn-dark addConcBtnEdit"
    >
      Edit
    </button>
  </div>
</div>
<form id="editComment" *ngIf="editComment">
  <h3>Edit Comment</h3>
  <div class="addPostBtnDiv">
    <label class="editLabel" for="title">Content:</label>
    <input
      type="text"
      class="form-control addCommentForm"
      name="title"
      [(ngModel)]="editComment.content"
    />


    <input
      type="submit"
      class="btn btn-dark addPostBtnEdit"
      name="Save"
      value="Save"
      (click)="updateComment(editComment)"
    />
    <input
      type="submit"
      class="btn btn-dark addPostBtnEdit"
      name="Cancel"
      value="Cancel"
      (click)="editComment = null"
    />
  </div>
</form>
