 html,
 body {
     height: 100%;
 }
 
 form.normal-form {
     margin: 10px;
 }
 
 .button-row button {
     margin: 5px;
 }
 
 .snackbar button {
     color: #b25512;
 }
 
 #modal-basic-title {
     padding: 0px;
     margin: 0px;
     font-size: 18px;
 }