<div class="container-fluid">
  <h1>Settings</h1><hr>

  <div *ngIf="!editUser && loggedInUser">
    <h3>Username: {{loggedInUser.username}}</h3><br>
    <h3>Email: {{loggedInUser.email}}</h3><br>
    <h3>First Name: {{loggedInUser.firstName}}</h3><br>
    <h3>Last Name: {{loggedInUser.lastName}}</h3><br>
    <h3>Member Since: {{loggedInUser.createdAt}}</h3><br>
    <button class="btn btn-info" (click)="setEditUser()">Edit Details</button>
  </div>

  <form *ngIf="editUser">
    <h3>First Name: <input type="text" name="firstName" [(ngModel)]="editUser.firstName"></h3><br>
    <h3>Last Name: <input type="text" name="lastName" [(ngModel)]="editUser.lastName"></h3><br>
    <h3>Username: <input type="text" name="username" [(ngModel)]="editUser.username"></h3><br>
    <h3>Email: <input type="text" name="email" [(ngModel)]="editUser.email"></h3><br>
    <input class="btn btn-success" type="submit" name="save" value="Save Changes" (click)="updateUserDetails(editUser)">
    <input class="btn btn-danger" type="submit" name="cancel" value="Cancel" (click)="editUser = null">
  </form>
</div>
