<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="searchResult == undefined || searchResult == null">
      <div fxFlex.lg="25%" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let post of posts">
        <div *ngIf="post.isEnabled">
          <mat-card class="mat-elevation-z4">
              <mat-card-header>
                  <div mat-card-avatar class="avatar mat-elevation-z8" style="background-image: url({{post.user.imageUrl}})"></div>
                  <mat-card-title class="name">
                      <span>{{post.user.username}}</span><span class="bullet">&nbsp;&#8226;&nbsp;</span><span *ngIf="!following(post.user)" class="follow" (click)="follow(post.user)">Follow</span>
                      <span *ngIf="following(post.user)" class="follow" (click)="unfollow(post.user)">Unfollow</span>
                  </mat-card-title>
                  <mat-card-subtitle>{{post.createdAt | dateAgo}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content (click)="setPost(post);open(content);">
                  <p>
                    {{post.content}} {{post.rating}}
                  </p>
              </mat-card-content>
              <img mat-card-image src="{{post.song.imageURL}}">
              <mat-divider></mat-divider>
              <mat-card-actions style="text-align: center;">
                  <button mat-button onclick="like(post)"><mat-icon>thumb_up</mat-icon></button>
                  <button mat-button (click)="setPost(post);getCommentsForPost(post);open(comment);"><mat-icon>chat</mat-icon></button>
                  <button mat-button><mat-icon>share</mat-icon></button>
              </mat-card-actions>
          </mat-card>
        </div>
      </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="searchResult !== undefined && searchResult !== null">
    <div fxFlex.lg="25%" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let post of searchResult">
      <div *ngIf="post.isEnabled">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <div mat-card-avatar class="avatar mat-elevation-z8" style="background-image: url({{post.user.imageUrl}})"></div>
                <mat-card-title class="name">
                    <span>{{post.user.username}}</span><span class="bullet">&nbsp;&#8226;&nbsp;</span><span *ngIf="!following(post.user)" class="follow" (click)="follow(post.user)">Follow</span>
                    <span *ngIf="following(post.user)" class="follow" (click)="unfollow(post.user)">Unfollow</span>
                </mat-card-title>
                <mat-card-subtitle>{{post.createdAt | dateAgo}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content (click)="setPost(post);open(content);">
                <p>
                  {{post.content}} {{post.rating}}
                </p>
            </mat-card-content>
            <img mat-card-image src="{{post.song.imageURL}}">
            <mat-divider></mat-divider>
            <mat-card-actions style="text-align: center;">
                <button mat-button onclick="like(post)"><mat-icon>thumb_up</mat-icon></button>
                <button mat-button (click)="setPost(post);getCommentsForPost(post);open(comment);"><mat-icon>chat</mat-icon></button>
                <button mat-button><mat-icon>share</mat-icon></button>
            </mat-card-actions>
        </mat-card>
      </div>
    </div>
</div>

</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Post Details
        </h4>

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

          <span aria-hidden="true">
              ×
          </span>
      </button>
    </div>
    <div *ngIf="post" class="modal-body modal-content">
        <div class="info d-flex">
            <h1>{{post.title}}</h1>
        </div>
        <div class="info d-flex">
            <h6>{{post.createdAt}}</h6>
        </div>
        <div class="info d-flex">
            <p>{{post.content}}</p>
        </div>
        <div class="info d-flex">
            <p>Song Title: {{post.song.title}}</p>
        </div>
        <div class="info d-flex">
            <p>By: {{post.song.artist}}&nbsp;&nbsp;&nbsp;&nbsp;Ablum: {{post.song.album}}</p>
        </div>
        <div class="modal-footer">
            <img class="footerPic" src={{post.user.imageUrl}} alt="Profile Image">
            <h3>&nbsp;&nbsp;{{post.user.username}}</h3>
        </div>
    </div>
</ng-template>


<ng-template #comment let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Add Comment
        </h4>

        <button type="button" class="close" aria-label="Close" (click)="postComments = [];modal.dismiss('Cross click');">

          <span aria-hidden="true">
              ×
          </span>
      </button>
    </div>
    <div *ngFor="let comment of postComments">
        <div class="modal-body modal-content">
            <div class="info d-flex">
                <h2><span><img class="commentPic" src={{comment.user.imageUrl}} alt="Profile Image"></span>{{comment.user.username}}</h2>
            </div>
            <div class="info d-flex">
                <p>{{comment.content}}</p>
            </div>
            <div>
                <hr>
            </div>
        </div>
    </div>
    <form *ngIf="post">
        <div class="modal-footer">
            <!-- <input type="hidden" [value]="loggedInUser" class="form-control me-2" [(ngModel)]="newComment.user"> -->
            <!-- <input type="hidden" [value]="post" class="form-control me-2" [(ngModel)]="newComment.post"> -->
            <textarea class="form-control me-2" name="addComment" cols="30" rows="2" [(ngModel)]="newComment.content"></textarea>
            <button class="btn btn-outline-success pull-right" (click)="addComment(newComment)">Add Comment</button>
        </div>
    </form>
</ng-template>

<!-- <div id="giraffe">
  {{searchResult | json}}

</div> -->
