mat-toolbar {
    background: #7d2900;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #b25512;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

#input1 {
    background-image: url('src/app/media/search1.png');
    background-position: 14px 11px;
    background-color: #6e2805;
    background-repeat: no-repeat;
    background-size: 15px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #8c440f;
    width: 275px;
    color: white;
}

::placeholder {
    color: #a65316;
    opacity: 0.9;
}

#input1:focus {
    border-color: #b25512;
    background-color: #7d2900;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(178, 85, 18);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(178, 85, 18);
}

.content {
    margin: 16px;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

.avatar {
    margin-top: 16px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.searchbar {
    margin-left: auto;
    margin-right: auto;
}

.prof:hover {
    cursor: pointer;
}

.ourLogoBtn{
  width: 135px;
  margin-left: 30px;
}
.ourLogo{
  width:100%;
}

.logoout{
  margin-right: 30px;
}
