<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
    <button mat-button>
    <span>&nbsp;Logo</span>
  </button>
    <div class="searchbar" id="searchbar">
        <form class="d-flex searchform">
            <input class="form-control me-2" placeholder="Search posts, songs, users..." id="input1" type="text" name="keyword" #keyword (keyup)="postsByKeyword(keyword.value)"> &nbsp;&nbsp;&nbsp;
        </form>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <img *ngIf="loggedInUser" class="avatar mat-elevation-z8 prof" src="{{loggedInUser.imageUrl}}" (click)="profile()" />
        <h4 *ngIf="loggedInUser" (click)="profile()" class="name prof">Welcome, {{loggedInUser.username}} </h4>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="profile()">
            <mat-icon>person</mat-icon>
            <span>&nbsp;Profile</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" (click)="open(content)">
            <mat-icon>add</mat-icon>
      <span>&nbsp;Create Post</span>
    </button>
        <mat-divider></mat-divider>
        <h2>Featured Genres</h2>
        <button mat-button class="menu-button" (click)="postsByGenre('Rock')">
      <span>&nbsp; Rock </span>
    </button> <br>
        <button mat-button class="menu-button" (click)="postsByGenre('Rap')">
      <span>&nbsp; Rap </span>
    </button> <br>
        <button mat-button class="menu-button" (click)="postsByGenre('Pop')">
      <span>&nbsp; Pop </span>
    </button> <br>
        <button mat-button class="menu-button" (click)="postsByGenre('R&B')">
      <span>&nbsp; R&B </span>
    </button> <br>
        <button mat-button class="menu-button" (click)="postsByGenre('Metal')">
      <span>&nbsp; Metal </span>
    </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <app-home [searchKeyword]="searchInput" [searchResult]="searchResult"></app-home>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Add New Post
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">
        ×
      </span>
    </button>
    </div>
    <form>
        <div class="modal-body modal-content">
            <div class="info d-flex">
                <label for="title" class="form-label"> Post Title </label> <input class="form-control me-2" type="text" name="title" [(ngModel)]="newPost.title" />
            </div>
            <div class="info d-flex">
                <label for="content" class="form-label"> Post Content </label>
                <textarea class="form-control me-2" rows="2" name="content" [(ngModel)]="newPost.content"></textarea>
            </div>
            <div class="info d-flex">
                <label for="song" class="form-label"> Song Title </label>
                <textarea class="form-control me-2" rows="2" name="songTitle" [(ngModel)]="newSong.title"></textarea>
            </div>
            <div class="info d-flex">
                <label for="song" class="form-label"> Song Artist </label>
                <textarea class="form-control me-2" rows="2" name="songArtist" [(ngModel)]="newSong.artist"></textarea>
            </div>
            <div class="info d-flex">
                <label for="song" class="form-label"> Song Album </label>
                <textarea class="form-control me-2" rows="2" name="songAlbum" [(ngModel)]="newSong.album"></textarea>
            </div>
            <div class="info d-flex">
                <label for="song" class="form-label"> Song Genre &nbsp;&nbsp;</label>
                <select name="dropdown" [(ngModel)]="genreName">
          <option *ngFor="let genre of genres" [value]="genre.id">{{genre.name}}</option>
        </select>
            </div>
            <div class="info d-flex">
                <label for="song" class="form-label"> Song Length&nbsp;&nbsp; </label>
                <input type="number" name="songLength" [(ngModel)]="newSong.songLength" />
            </div>
            <div class="info d-flex">
                <label for="song" class="form-label"> Song Release Date&nbsp;&nbsp; </label>
                <input type="date" name="releaseDate" [(ngModel)]="newSong.releaseDate" />
            </div>
            <div class="info d-flex">
                <label for="song" class="form-label"> Song URL </label>
                <textarea class="form-control me-2" rows="2" name="songUrl" [(ngModel)]="newSong.songURL"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-success pull-right " (click)="modal.close(createPost(genreName, newSong, newPost))" type="submit">
        Save&nbsp;&nbsp;<i class="fa fa-download"></i>
      </button>
        </div>
    </form>
</ng-template>